@model ShimMathAdmin.Models.AdminModels.LayoutModel;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> signInManager;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShimMathAdmin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <!--<div class="container">-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded d-flex p-2">
            <div class="container">
                <a class="navbar-brand" href="#">&#8747;himM&Delta;th</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#shimMathNavbar" aria-controls="shimMathNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="shimMathNavbar" style="">
                    <ul class="navbar-nav mr-auto">
                        @if (Model.MainBodyView == "Views/Shared/_Layout.cshtml")
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                        @if (Model.MainBodyView == "")
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Classes</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link disabled" asp-controller="Home" asp-action="Index">Classes</a>
                            </li>
                        }


                        @if (Model.MainBodyView == "Views/Shared/CodeSpace/_CodeSpaceLayout.cshtml")
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="CodeSpace" asp-action="Index">Code Space</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="CodeSpace" asp-action="Index">Code Space</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="TestAction">TestAction</a>
                        </li>
                    </ul>
                </div>
                @if (signInManager.IsSignedIn(User))
                {
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link d-inline-flex pointer" data-toggle="modal" data-target="#registerModal">
                                <svg class="bi bi-person-fill text-light d-block m-auto" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                                </svg>
                                <p class="m-auto pl-2">Hello, @User.Identity.Name</p>
                            </a>
                        </li>
                        <li class="nav-item login">
                            <a class="nav-link d-inline-flex pointer" data-toggle="modal" data-target="#loginModal">
                                <svg class="bi bi-box-arrow-left text-light m-auto" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4.354 11.354a.5.5 0 0 0 0-.708L1.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
                                    <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0 0 1h9a.5.5 0 0 0 .5-.5z" />
                                    <path fill-rule="evenodd" d="M14 13.5a1.5 1.5 0 0 0 1.5-1.5V4A1.5 1.5 0 0 0 14 2.5H7A1.5 1.5 0 0 0 5.5 4v1.5a.5.5 0 0 0 1 0V4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5H7a.5.5 0 0 1-.5-.5v-1.5a.5.5 0 0 0-1 0V12A1.5 1.5 0 0 0 7 13.5h7z" />
                                </svg>
                                <p class="m-auto pl-2">Logout</p>
                            </a>
                        </li>
                    </ul>

                }
                else
                {
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link d-inline-flex pointer" data-toggle="modal" data-target="#registerModal">
                                <svg class="bi bi-person-fill text-light d-block m-auto" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                                </svg>
                                <p class="m-auto pl-2">Register</p>
                            </a>
                        </li>
                        <li class="nav-item login">
                            <a class="nav-link d-inline-flex pointer" data-toggle="modal" data-target="#loginModal">
                                <svg class="bi bi-box-arrow-in-right text-light m-auto" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8.146 11.354a.5.5 0 010-.708L10.793 8 8.146 5.354a.5.5 0 11.708-.708l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0z" clip-rule="evenodd" />
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9A.5.5 0 011 8z" clip-rule="evenodd" />
                                    <path fill-rule="evenodd" d="M13.5 14.5A1.5 1.5 0 0015 13V3a1.5 1.5 0 00-1.5-1.5h-8A1.5 1.5 0 004 3v1.5a.5.5 0 001 0V3a.5.5 0 01.5-.5h8a.5.5 0 01.5.5v10a.5.5 0 01-.5.5h-8A.5.5 0 015 13v-1.5a.5.5 0 00-1 0V13a1.5 1.5 0 001.5 1.5h8z" clip-rule="evenodd" />
                                </svg>
                                <p class="m-auto pl-2">Login</p>
                            </a>
                        </li>
                    </ul>
                }

            </div>
        </nav>
        <!--</div>-->

        @await Html.PartialAsync("/Views/Shared/Account/_Login.cshtml", Model);


    </header>
    <div style="margin-top: 20px"></div>
    <div class="container">


        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2020 - ShimMathAdmin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/node-forge/dist/forge.min.js"></script>

    <script type="text/javascript">
        var model = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    </script>
    <script src="~/js/login.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
